html { 
	height: 100%;
}

body {
	height: 98%;
	position: absolute; top: 0; bottom: 0; left:0; right:0;
	margin: 0px;
	font-size: 10px;
	font-family: Lucida Console;
	color: #FFFFFF;  
	background-color: #000000;
}

input, select, textarea {
	margin: 1px;
	padding: 2px;
	border: 0px;
	color: #000000;
	font-size: 10px;
	font-family: Lucida Console;
	background-color: #DDDDDD;
	}
	
input:focus, select:focus, textarea:focus {
	margin: 1px;
	padding: 2px;
	border: 0px;
	color: #000000;
	font-size: 10px;
	font-family: Lucida Console;
	background-color: #E2E4E6; }

h1 {
	margin: 10px;
}

h4 {
	text-align:right;
	font-size: 10px;
	margin: 0px 10px;
}

table#screen {
	width:100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

div#content {
	position: relative;
	width: 807px;
	height: 607px;
	padding: 5px;
	background-color: #000000;
	z-index: 0;
}

div#head, div#menue, div#main {
	position: relative;
	border: 1px dashed #DDDDDD;
	margin: 3px;
	text-align: left;
	z-index: 0;
}

div#head {
	width: 800px;
	height: 80px;
	background-color: #000000;
}

div#menue {
	width: 160px;
	height: 500px;
	background-color: #000000;
	float:left;
	padding: 5px;
}

div#menue p {
		margin:2px;
		padding:5px
}

div#menue p:hover {
		margin:2px;
		padding:5px
}

div#menue a, a:visited {
	color: #FFFFFF;
}

div#menue a:hover {
	color: #003399;
}

div#main {
	width: 611px;
	height: 500px;
	padding: 5px;
	text-align: left;
	float:left;
	background-color: #000000;
	overflow:auto;
}

div#main a, a:visited{
	color: #FFFFFF;  
	font-weight: bold;
}

div#main a:hover{
	color: #003399;  
	font-weight: bold;
}

div#clearer {
	clear: left;
}

div#error, div#success {
	position: relative;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	padding:5px;
	-moz-opacity: 0.80;
	opacity:  0.80;
	filter:alpha(opacity=80);
	z-index: 10;
}

div#error {
	color: #FF0000;
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
}

div#success {
	color: #006600;
	border: 1px solid #006600;
	background-color: #00FF66;
}

table {
	border: none;
	width: 100%;
}

td#commet {
	font-size: 10px;
	color: #666666;
}

td#headline {
	background-color: #FFFFFF;
	color:#000000;
	font-weight: bold;
	padding: 5px;
	width: auto;
	text-align: left;
}

td#button {
	text-align:center;
	vertical-align:middle;
	height:80px;
}

tr#daten:hover {
	background-color: #333333;
}

td#uebersicht_werte {
	text-align:center;
}

td#zwischenzeile {
	height: 5px;
}